<p>Hi,</p>
<p>Du kannst den nachfolgenden Code nutzen, um Dein Passwort zurückzusetzen:</p>
<p>
  <pre>{{changePasswordToken}}</pre>
</p>

<p>Falls Du Dein Passwort nicht zurücksetzen wolltest, kannst Du diese Mail
  ignorieren und löschen.</p>