<p>Hi,</p>
<p>bitte bestätige mit dem folgenden Code Deine Registrierung für NewsRecs:</p>
<p>
  <pre>{{confirmationToken}}</pre>
</p>

<p>Falls Du Dich nicht bei NewsRecs angemeldet hast, kannst Du diese E-Mail
  ignorieren.</p>