<p>Hey {{name}},</p>
<p>bitte bestätige mit dem folgenden Link Deine Registrierung für NewsRecs:</p>
<p>
  <a href='{{confirmationLink}}'>Registrierung bestätigen</a>
</p>

<p>Falls Du Dich nicht bei NewsRecs angemeldet hast, kannst Du diese E-Mail
  ignorieren.</p>